.header-container {
  position: fixed;
  width: 100%;
}

.body-container {
  margin: auto;
  display: flex;
  min-width: 320px;
  padding-top: 20px;
}

.body-content {
  padding: 30px 200px 0px 200px;
}

.footer-content {
  text-align: center;
  background-color: #f8f9fa;
}

.footer-content .copyright-info-content p {
  font-size: 12px;
}

.contact-content {
  width: 100%;
  text-align: center;
  background-color: #f8f9fa;
}

.logo-image {
  margin-top: -3px;
}

.author-image {
  text-align: center;
}

.page-title {
  text-align: center;
  color: #226d93;
  border-bottom: 1px solid #efefef;
}

/* Section heights */
#about-me,
#academic,
#professional,
#tech-community,
#contact-me {
  height: 80px;
}

/* Media Queries */

/* Desktop view (default) */
@media (min-width: 992px) {
  .body-content {
    padding: 30px 200px 0px 200px;
  }
}

/* Tablet view */
@media (max-width: 991px) {
  .body-content {
    padding: 30px 20px 0px 20px;
  }
  .author-image {
    padding: 20px;
  }
}

/* Mobile view */
@media (max-width: 575px) {
  .body-content {
    padding: 20px;
  }
  .author-image {
    padding: 10px;
  }
}
