.header-container {
  position: fixed;
  width: 100%;
}

.body-container {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding: 100px;

  .body-content {
    height: 1000px;
  }
}

.footer-container {
  .footer-content {
    text-align: center;
    background-color: #f8f9fa;

    .copyright-info-content {
      p {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 991px) {
  .body-container {
    padding: 60px 30px;
  }
}


@media (max-width: 575px) {
  .body-container {
    padding: 60px 10px;
  }
}
